<!-- Small modal for adding a post -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="form" style="padding: 60px;">
          <%= simple_form_for @post do |f| %>
            <%= f.input :body, :as => :text, input_html: {rows: 10, cols: 10}, label: false %>
            <%= f.submit "ajouter ragot", class: "btn btn-primary"  %>
          <% end %>
      </div>
    </div>
  </div>
</div>
