  <!-- INTERFACE -->
  <main>
    <div class="container" id="right-columns">
      <div class="row">
        <div class="col-sm-12">
          <div id="search-input"></div>
          <div id="search-input-icon"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div id="stats"></div>
          <div id="active-filters"></div>
          <div id="hits"></div>
        </div>
        <div class="col-12 col-sm-6">
          <div id="stats"></div>
          <div id="active-filters"></div>
          <div id="hits"></div>
        </div>
      </div>
    </div>
  </main>

  <footer>
    Powered by Le Wagon and mathieu
  </footer>
  <!-- /INTERFACE -->

  <!-- TEMPLATES -->
  <script type="text/html" id="hit-template">
    <div class="hit">
      <div class="hit-image">
        <img src="{{img_url}}" alt="{{username}}" class="avatar-xlarge">
      </div>
      <div class="hit-content">
        <h2 class="hit-name">{{{_highlightResult.username.value}}}</h2>
        <p class="hit-details">
          {{{_highlightResult.email.value}}} | {{{_highlightResult.phone.value}}} |
          <a href="{{{linkedin}}}"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a> |
          <a href="http://www.github.com/{{{username}}}"><i class="fa fa-github" aria-hidden="true"></i></a>
        </p>
        <p class="hit-stars"><i class="fa fa-star" aria-hidden="true"></i>
 - {{{score}}}</p>
        <p class="hit-description">{{{_highlightResult.bio.value}}}</p>
      </div>
    </div>
  </script>

  <script type="text/html" id="no-results-template">
    <div id="no-results-message">
      <p>We didn't find any results for the search <em>"{{query}}"</em>.</p>
      <a href="." class='clear-all'>Clear search</a>
    </div>
  </script>
  <!-- /TEMPLATES -->

  <!-- SCRIPTS -->
  <script src="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>
  <!-- /SCRIPTS -->
