  <!-- INTERFACE -->
  <main>
    <div class="container" id="right-columns">
      <div class="row">
        <div class="col-sm-12">
          <div id="search-input"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div id="stats"></div>
          <div id="profiles"></div>
        </div>
        <div class="col-12 col-sm-6">
          <div id="stats"></div>
          <div id="posts"></div>
        </div>
      </div>
    </div>
  </main>
  <!-- /INTERFACE -->

  <!-- TEMPLATES -->
  <script type="text/html" id="profile-template">
    <div class="profile">
      <div class="profile-image">
        <img src="{{img_url}}" alt="{{username}}" class="avatar-xlarge">
      </div>
      <div class="profile-content">
        <h2 class="profile-name">{{{_highlightResult.username.value}}}</h2>
        <p class="profile-details links">
          {{{_highlightResult.email.value}}} | {{{_highlightResult.phone.value}}} |
          <a href="{{{linkedin}}}"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a> |
          <a href="http://www.github.com/{{{username}}}"><i class="fa fa-github" aria-hidden="true"></i></a>
        </p>
        <p class="profile-score links"><a href="/profiles/{{{id}}}" data-method="patch"><i class="fa fa-star" aria-hidden="true"></i> {{{score}}}</a></p>
        <p class="profile-bio">{{{_highlightResult.bio.value}}}</p>
      </div>
    </div>
  </script>

<script type="text/html" id="post-template">
    <div class="post">
      <div class="post-content">
        <div class="post-header">
          <div class="post-image">
            <img src="{{img_url}}" alt="{{username}}" class="avatar">
          </div>
          <div class="post-date">
            <h4>{{{created_at}}}</h4>
          </div>
        </div>
        <p class="post-score links">
          <a href="/posts/{{{id}}}" data-method="patch">
            <i class="fa fa-star" aria-hidden="true"></i> {{{score}}}
          </a>
        </p>
        <p class="post-body">{{{_highlightResult.body.value}}}</p>
      </div>
    </div>
  </script>

  <script type="text/html" id="no-results-profiles-template">
    <div id="no-results-message">
      <p>We didn't find any profiles for the search <em>"{{query}}"</em>.</p>
      <a href="." class='clear-all'>Clear search</a>
    </div>
  </script>

   <script type="text/html" id="no-results-posts-template">
    <div id="no-results-message">
      <p>We didn't find any posts for the search <em>"{{query}}"</em>.</p>
      <a href="." class='clear-all'>Clear search</a>
    </div>
  </script>
  <!-- /TEMPLATES -->

  <!-- SCRIPTS -->
  <script src="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>
  <!-- /SCRIPTS -->
