


<div  class="container">
  <h1 class="text-center">Salut <%= current_user.profile.username %> !</h1>
  </br>
  <h4 class="text-center">Funny picture of the day</h4>

  <div class="cards hidden">
      <div class="col-md-8 col-md-offset-2">
        <div class="card-body card-welcome">
          <%= video_tag "efousse.mov",:size => "500", :controls => true %>
        </div>
      </div>
  </div>
</div>
