/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.container {
  padding: 80px 0 0 0;
}
.links {
  padding: 10px;
  font-size: 12px;
  text-decoration: none;
  transition: all 0.6s ease;
}
.links a:hover {
  color: $red;
  text-decoration: none;
}
