@import url("components/avatar.css");
@import url("components/tabs.css");
@import url("components/profile_header.css");
@import url("components/list.css");
@import url("components/card.css");
@import url("components/banner.css");


body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}
h1, h2, h3 {
  font-family: 'Lobster Two', cursive;
}
a {
  text-decoration: none;
}
.text-center {
  text-align: center;
}
.container {
  margin: 0 auto;
}
.list-inline li {
  display: inline-block;
}
.list-inline {
  list-style: none;
}
.image {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}
.cards {
/*  display: flex;
  justify-content: space-between;*/
}
.card {
}
.form {
  padding: 30px;
}
